body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #282c34;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	max-height: 800px;
}

.audio-button {
	position: relative;
	border: 3px solid rgba(255, 255, 255, 0.7);
	border-radius: 20px;
	background: #000;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	width: 8rem;
	height: 5rem;
	margin: 20px;
	transform: perspective(400px) rotateX(35deg);
	transition: all 0.1s ease-in-out;
	box-shadow: 0px 9px 0px rgba(255, 255, 255, 0.7), 0px 9px 25px rgba(0, 0, 0, 0.7);

	&:active {
		box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.3);
		transform: translate(0, 4px) rotateX(35deg) scaleY(0.6);
	}
}
